<div class="row">
	<div class="col-sm-6 well">
		<table class="visible" id="video-broadcaster">
		  <tr>
		      <td style="text-align: right;">
		            <input 
		            	type="text" 
		            	ng-model="conference.conference_name"
		            	placeholder="Broadcast Name"
		            >
		        </td>
		        <td>
		            <button ng-click="createButtonClickHandler(conference)" href=""">New Broadcast</button>
		        </td>
		    </tr>
		</table>
		<table id="rooms-list" class="visible"></table>
		<div id="participants"></div>
	</div>
	<div class="col-sm-6 well" cz-shortcut-listen="true">
		<i class="fa fa-spin fa-refresh fa-5x" id="loader" style="display: none;"></i>
		<div class="ng-scope">
			<div class="row">
				<div class="col-lg-8">
					<div class="row" id="userList" style="display: block;">
						<div ng-repeat="user in users" class="col-sm-12 ng-scope">
							<div class="row" ng-if="user">
								<div class="col-xs-2" ng-class="{'col-xs-push-10' : (user.username == curtrentUser)}">
									<img 
										ng-src=" {{user.image}}" 
										class="img-thumbnail img-responsive img-circle pull-left" 
										ng-class-even="pull-right"
										ng-class-odd="pull-left" 
										style="width:70px;"
									>
								</div>
								<div class="col-xs-10" ng-class="{'col-xs-pull-2' : (user.username == curtrentUser)}">
									<div class="panel panel-default ">
										<div class="panel-body ng-binding ng-class:arrow_box" ng-class-even="arrow_box"
										ng-class-odd="pull-left"> <strong>{{user.username}}</strong> : {{user.message}} <br>
											<span class="label label-info ng-binding ">{{user.date | date: 'h:mma'}}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="input-group " ng-show="users.length > 0">
						<input 
							id="data" 
							type="text" 
							ng-model="message" 
							class="form-control" 
							placeholder="Type your message here"
						>
						<span class="input-group-btn ">
							<button 
								class="btn btn-primary" 
								id="datasend" 
								type="button" 
								ng-click="doPost(message)"
							>Send!
							</button>
						</span>
					</div>
					<div class="clearfix "></div>
				</div>
				<div class="col-lg-4 ">
				<div ng-show="users.length > 0">
					<h4>Join Room</h4>
					<div class="form-group ">
						<label for="exampleInputEmail1 ">Your Name</label>
						<input 
							type="text" 
							ng-model="join.username" 
							class="form-control" 
							id="join_room_email" 
							placeholder="Enter Name" 
						/>
					</div>
					<div class="form-group ">
						<label for="exampleInputEmail1 ">Room Code</label>
						<input 
							type="text" 
							ng-model="join.room" 
							class="form-control" 
							id="join_room_code" 
							placeholder="Enter Room Code" 
						/>
					</div>
					<button type="submit " id="join " ng-click="joinRoom(join) " class="btn btn-default ">Submit</button>
					<hr>
				</div>
				<div ng-show="users.length == 0">
				<form novalidate="" name="UpdateProfileform">
					<h4 class="text-center">Create  chat Room</h4>
					<div class="form-group" ng-class="{ 'has-error' : UpdateProfileform.username.$invalid && !UpdateProfileform.username.$pristine }">
<!-- 						<label for="exampleInputEmail1 ">Your Name</label> -->
						<input 
							type="text" 
							name="username"
							ng-model="create.username" 
							class="form-control" 
							id="create_room_email" 
							placeholder="Enter Name" 
							required
						/>
						<p ng-show="UpdateProfileform.username.$invalid && !UpdateProfileform.username.$pristine"
										class="help-block">Username is required
						</p>
					</div>
				</form>
					<button 
						type="submit" 
						id="create" 
						g-disabled="UpdateProfileform.$invalid"
						ng-click="createRoom(create)" 
						class="btn btn-default"
					>Submit
					</button>
					<div class="clearfix "></div>
				</div>
				</div>
			</div>
		</div>
		</div>
</div>
