.thumbnail1 {
    position: relative;
    width:150px;
    height:150px;
    margin: 25px;
}

.thumbnail1 img {
    width:100%;
    height:100%;
}

#close {
    display: block;
    position: absolute;
    width:25px;
    height:25px;
       top: 7px;
    right: 16px;
    background: url(http://icons.iconarchive.com/icons/kyo-tux/delikate/512/Close-icon.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#logo_title{
	color:#00acac;
	font-size:16px;
	font-weight: bold;	
}
	