<style>
	.table-hover tbody tr:hover td {
    background: #00c4cc !important;
	color:#fff !important;
	}
	#result tr td a{
	color:black !important;
	}
	.table > thead > tr > th{
	padding-bottom: 11px !important;
	}
</style>

<style>
	img{
		width: 97%;
	}
   .custom_list_group{
   width: 96% !important;
   margin-left: 2% !important;
   margin-right: 1% !important;
   color: gray !important;
   }
   .post_description .img_post {
   max-width: 100%;
   max-height: 100%;
   margin: auto;
   height: 501px !important;
   display: block;
   }
   .media-heading{
   margin-top: 0 !important;
   margin-bottom: 5px !important;
   margin-left: 12px !important;
   }
   .profile_img_post {
   border: 1px solid rgba(0, 0, 0, .1);
   height: 48px !important;
   }.image-post {
   display: block;
   width: 50px;
   height: 50px;
   }
   .post_description .img_post {
   max-width: 100%;
   max-height: 100%;
   margin: auto;
   height: 450px;
   display: block;
   }
   .custom_hr_post {
   margin-top: 20px;
   margin-bottom: 0px !important;
   border: 0;
   border-top: 1px solid #eee;
   width: 100% !important;
   }
   .right_padding{
   padding-right:25px;
   color: rgb(58, 87, 149);
   }
   .custom_input_padding{
   padding-bottom:20px;
   }
   .comment_hr{
   clear: both;
   }
   .p_commnts_count{
   display: inline-block;
   float: right;
   margin-right: 10px;
   }
   .p_comments{
   color: #365899;
   display: inline-block;
   }  
   .post_desc{
   margin-left: 14px;
   }
   .img_post_comment{
   float:left;
   }
   .links-post1{
   padding-left: 15px;
   padding-bottom: 0px;
   max-width: 100%;
   padding-top: 15px;
   }
   .link-post{
   margin-right:10px;
   }
   .comments{
   padding-left:15px;
   }
   .title-post{
   color: rgb(58, 87, 149);
   font-weight: bold;
   }
</style>
<!-- <div class="container-fluid"> -->
<!--    <div class="row"> -->
<!--       <div class="col-md-12"> -->
<!--          <div class="thumbnail thumbnail-post"> -->
<!--             <div class="caption"> -->
<!--                <div class="media"> -->
<!--                   <div class="media-body"> -->
<!--                      <a ng-click="getThemeDetails(works1[0].theme_id)" class="media-heading title-post">{{works1[0].theme_name}}</a> -->
<!--                   </div> -->
<!--                </div> -->
<!--                <div class="post_description"> -->
<!--                   <p class="post_desc">{{works1[0].post_description}}</p> -->
<!--                   <p> -->
<!--                      <video ng-if="works1[0].file_type == 'video/mp4'" ng-src="{{works1[0].theme_img}}" controls></video> -->
<!-- 					<img src="{{works1[0].theme_img}}" ng-if="works1[0].file_type == 'image/jpeg'"> -->
<!--                   </p> -->
<!--                </div> -->
<!--             </div> -->
<!--             <div class="list-group custom_list_group"> -->
<!--                <a class="list-group-item"> -->
<!--                   <h4 class="list-group-item-heading"><i class="fa fa-users my_giveaway_icon" aria-hidden="true"></i>Target Audience</h4> -->
<!--                   <p class="list-group-item-text">{{works1[0].target_audience}}</p> -->
<!--                </a> -->
<!--                <a class="list-group-item"> -->
<!--                   <h4 class="list-group-item-heading"><i class="fa fa-television my_giveaway_icon" aria-hidden="true"></i>About Theme</h4> -->
<!--                   <p class="list-group-item-text">{{works1[0].about_theme}}</p> -->
<!--                </a> -->
<!--                <a class="list-group-item"> -->
<!--                   <h4 class="list-group-item-heading"><i class="fa fa-gift my_giveaway_icon" aria-hidden="true"></i>Theme Prize</h4> -->
<!--                   <p class="list-group-item-text">{{works1[0].theme_prize}}</p> -->
<!--                </a> -->
<!--             </div> -->
<!--          </div> -->
<!--       </div> -->
<!--    </div> -->
<!-- </div> -->

<div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">GiveAway Result</h4>	                                
                            </div>
                            <div class="card-content table-responsive">
                                <table id="result" class="table table-hover">
                                    <thead class="text-primary">
                                    	<tr>
										<th>Audience</th>
										</tr>
								   </thead>
                                    <tbody ng-repeat ="audience in works1[0].theme_audience">
                                        <tr ng-disabled="true">
                                        	<td>
                                        		<a>{{audience.firstname}}  {{audience.lastname}}</a>
                                        		<button  style="float:right" class="btn btn-warning"  ng-click="getAudienceQuizDetails(audience.audience_id)">Show Answers</button>
                                        		<p ng-if="audience.winner == 1"><b>Winner</b></p>
                                        	</td>
                                        	
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
</div>
