	            <div class="">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="card">
	                            <div class="card-header" style="margin:0px; !important" data-background-color="purple">
	                                <h4 class="title">My Dashboard</h4>
							    </div>
							    
	                            
	                        </div>
	                    </div>
					</div>
					<div class="row">
		<!-- begin col-3 -->
		<div class="col-md-4 col-sm-4">
			<div class="widget widget-stats bg-green">
				<div class="stats-icon">
					<i class="fa fa-user"></i>
				</div>
				<div class="stats-info">
					<h4 class="users_count">TOTAL ARTISTS</h4>
					<p>{{artist}}</p>
				</div>
				<div class="stats-link">
					<a href="Admin.html#/artist/user_management">View Detail <i
						class="fa fa-arrow-circle-o-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-md-4 col-sm-4">
			<div class="widget widget-stats bg-orange">
				<div class="stats-icon">
					<i class="fa fa-user"></i>
				</div>
				<div class="stats-info">
					<h4 class="users_count">TOTAL WRITERS</h4>
					<p>{{writer}}</p>
				</div>
				<div class="stats-link">
					<a href="/Admin.html#/writer/user_management">View Detail <i
						class="fa fa-arrow-circle-o-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-md-4 col-sm-4">
			<div class="widget widget-stats bg-blue">
				<div class="stats-icon">
					<i class="fa fa-user"></i>
				</div>
				<div class="stats-info">
					<h4 class="users_count">TOTAL PUBLISHERS</h4>
					<p>{{publisher}}</p>
				</div>
				<div class="stats-link">
					<a href="Admin.html#/publisher/user_management">View Detail <i
						class="fa fa-arrow-circle-o-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
	</div>
					<div class="row">
		<!-- begin col-3 -->
		<div class="col-md-4 col-sm-4">
			<div class="widget widget-stats bg-dark">
				<div class="stats-icon">
					<i class="fa fa-user"></i>
				</div>
				<div class="stats-info">
					<h4 class="users_count">TOTAL EDITORS</h4>
					<p>{{editor}}</p>
				</div>
				<div class="stats-link">
					<a href="Admin.html#/editor/user_management">View Detail <i
						class="fa fa-arrow-circle-o-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-md-4 col-sm-4">
			<div class="widget widget-stats bg-parrot">
				<div class="stats-icon">
					<i class="fa fa-user"></i>
				</div>
				<div class="stats-info">
					<h4 class="users_count margin">TOTAL COVER DESIGNERS</h4>
					<p>{{cd}}</p>
				</div>
				<div class="stats-link">
					<a href="Admin.html#/cover_designer/user_management">View Detail <i
						class="fa fa-arrow-circle-o-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-md-4 col-sm-4">
			<div class="widget widget-stats bg-parrot1">
				<div class="stats-icon">
					<i class="fa fa-user"></i>
				</div>
				<div class="stats-info">
					<h4 class="users_count margin">TOTAL LAYOUT DESIGNERS</h4>
					<p>{{ld}}</p>
				</div>
				<div class="stats-link">
					<a href="Admin.html#/layout_designer/user_management">View Detail <i
						class="fa fa-arrow-circle-o-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-md-4 col-sm-4">
			<div class="widget widget-stats bg-parrot1">
				<div class="stats-icon">
					<i class="fa fa-user"></i>
				</div>
				<div class="stats-info">
					<h4 class="users_count margin">TOTAL FASHION USERS</h4>
					<p>{{f}}</p>
				</div>
				<div class="stats-link">
					<a href="Admin.html#/fashion/user_management">View Detail <i
						class="fa fa-arrow-circle-o-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-md-4 col-sm-4">
			<div class="widget widget-stats bg-parrot1">
				<div class="stats-icon">
					<i class="fa fa-user"></i>
				</div>
				<div class="stats-info">
					<h4 class="users_count margin">TOTAL SHORT FILM USERS</h4>
					<p>{{sf}}</p>
				</div>
				<div class="stats-link">
					<a href="Admin.html#/short_film/user_management">View Detail <i
						class="fa fa-arrow-circle-o-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
	</div>
		        </div>
	            
