<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Change Password</h4>
                </div>
                <div class="card-content">
                    <form novalidate="" name="UpdateProfileform">
                     <div class="form-group" ng-show="error1">
						<div class="alert alert-danger">
							 <strong>Error!</strong> {{error1}}
						</div>
					</div>
                        <div class="row">
                            <div class="col-md-6" ng-class="{ 'has-error' : UpdateProfileform.new_psw.$invalid && !UpdateProfileform.new_psw.$pristine }">
                                <div class="form-group label-floating">
                                    <label>New Password</label>
                                    <input 
                                    	type="password" 
                                    	class="form-control" 
                                    	name="new_psw"
                                    	ng-model="admin.new_psw"
                                    	required
                                    >
			                    <p ng-show="UpdateProfileform.new_psw.$invalid && !UpdateProfileform.new_psw.$pristine"
										class="help-block">Password is required
								</p>
                                </div>
                            </div>
                            <div class="col-md-6" ng-class="{ 'has-error' : UpdateProfileform.cnfm_psw.$invalid && !UpdateProfileform.cnfm_psw.$pristine }">
                                <div class="form-group label-floating">
                                    <label >Confirm Password</label>
                                    <input 
                                    	type="password" 
                                    	name="cnfm_psw"
                                    	ng-model="admin.cnfm_psw" 
                                    	class="form-control"
                                    	required
                                    >
                                   <p ng-show="UpdateProfileform.cnfm_psw.$invalid && !UpdateProfileform.cnfm_psw.$pristine"
										class="help-block">Password not match.
								</p>
                                </div>
                            </div>
                        </div>
                        <div ng-if="sucess_message" class="alert alert-success">
							  <strong>{{sucess}}</strong> {{sucess_message}}
						</div>
						<button
                        	type="submit" 
                        	class="btn btn-primary pull-right"
                        	ng-click="back()"
                        >Cancel
                        </button>
						<button  style="margin-right:15px;" 
                        	type="submit" 
                        	class="btn btn-primary pull-right"
                        	ng-disabled="UpdateProfileform.$invalid"
                        	ng-click="updateAdminUser(admin)"
                        >Update
                        </button>
						
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
